{% extends "agri_tourism/base.html" %}
{% block content %}
  <body class="articles-content">
	<div class="content-section">
    <div class="about-us">
 		<h1> About Us</h1>
 	 	 <p> We share with the public about different agriculture
      activities happening here in Awaji. We focus on how farmers are using technology to combat climate change in agriculture industry</p>
    </div>
      <div class="vision">
 			<h1> Vision </h1>
 				<p> write vision here </p>

        </div>
      <div class="impact">
        <h1> Our Impact </h1>
        <p> Write it here any </p>
      </div>
    </div>
  </body>

  <style>

  .content-section h1 {
    position: relative;
    padding-top: 100px;
    text-align: middle;
    padding-left: 450px;
   

  }

  .about-us p {
  text-align: middle;
  padding-left: 200px;
  position: relative;

  }

  .vision p {
  text-align: middle;
  position: relative;
  padding-left: 450px;

  }


  .impact p {
  text-align: middle;
  position: relative;
  padding-left: 450px;

  }

  
  </style>
{% endblock %}

