{% extends "agri_tourism/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section>
  <div class="content-section">
    <div class="media">
      <img class="image-content" src="{{user.profile.image.url}}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
  <!-- FORM HERE -->
    <form method = "post" enctype="multipart/form-data"> 
            {% csrf_token %}
            <fieldset class = "form-group">
               <legend class ="border-bottom mb-4">Profile Info </legend>
               {{ u_form|crispy }}
               {{ p_form|crispy }}
            </fieldset>
            <div class= "form-group">
                <button type="submit">Update</button>    
            </div>
        </form> 
    </div>
</section>

<style>

  section{
    display:grid;
    grid-template-columns:50%50%;
    margin-top:70px;
  }
  .content-section{
    margin-top:70px;
    margin-left:70px;
    margin-bottom:10px;
    width:500;
  }
  .image-content{
    width:100px;
    margin-bottom:5px;
    border-radius:30px;
  }

  .form-group{
    margin-top:5px;
  }

  button{
    background: white; 
    background-color:green;
    width:240px;
    font-weight:bold;
    margin-top:7px;
    border:1px solid;
    border-radius:10px;
    box-shadow:10px;
    height:40px;
   }

   button:hover{
    color:blue;

   }

</style>
{% endblock content %}